<div class="floater">

    <img src="/images/architects.png" id="logo"></img>
    <h1 class="tag">The Architects</h1>
    <p>In the 1st hour of the 23rd day of the 4th month of the 13th year of the 21st century, three disgruntled UVa students sat down together and celebrated the birth of their baby, four months in the making:  mrpigs was born, and with his immaculate birth brought the priceless gem that is free financial education to the unlearned youth that we call the future of America.
    </p>
<br>
    <a href="#/course" class="btn btn-block btn-primary"><h3>Try the Course</h3></a>

</div>
