<a ng-click="backSlide()">back</a>
{{getCurrentSlide()}}
<a ng-click="forwardSlide()">forward</a>

<div class="hero-unit {{showOrHide($index)}}" ng-repeat="slide in slides">
    <h1>{{slide.slideTitle}}</h1>

    <p>{{slide.content}}</p>
    <div> </div>
    <div ng-repeat="question in slide.questions">

        <h3>{{question.prompt}}</h3>
        <div ng-hide="gotAnswerCorrect($index)">
        <ul>
            <li ng-repeat="choice in question.choices" ng-click="userPicks(question, choice)">{{choice}}</li>
        </ul>
        </div>
        <div ng-show="gotAnswerCorrect($index)" class="alert alert-success"></div>
        <div ng-show="gotAnswerWrong($index)" class="alert alert-error"></div>
    </div>
</div>
